/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTAINER  */
.container {
    max-width: 80%;
    margin: 0 auto;
    background-color: coral; // TO DO change brand-quaternary
    padding-left: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}